* {
  font-family: sans-serif;
}
form {
  background-color: lightgray;
  left: 0;
  right: 0;
  box-shadow: 2px 2px solid black;
}
.former {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.former * {
  font-size: 15px;
  border-radius: 10px;
  margin: 1px 1px;
}
.optionHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  max-width: 45vw;
}

label {
  margin-left: 10px;
}
input {
  margin-left: 10px;
  border: none;
  padding-left: 10px;
}
input[TYPE="number"] {
  width: 50px;
}
input[type="submit"] {
  background-color: white;
  width: 100px;
  padding-left: 0;
  cursor: pointer;
}
article {
  width: 500px;
  max-width: 78vw;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
}
h1,
h2,
p {
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
button {
  margin-top: 5px;
  margin-left: 100px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  color: green;
  padding-bottom: 10px;
}
.bodystuff {
  width: 600px;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .former * {
    font-size: 20px;
    margin: 5px 5px;
  }
}
